/Signed_Binaries
OutworldzFiles/mysql/data/opensim
OutworldzFiles/mysql/data/ib_logfile0
OutworldzFiles/mysql/data/ib_logfile1
OutworldzFiles/mysql/data/ibdata1
OutworldzFiles/Diagnostics.log

OutworldzFiles/Opensim/bin/bakes

OutworldzFiles/Opensim*/bin/OpenSimConsoleHistory.txt
OutworldzFiles/Opensim*/bin/OpenSim.log
OutworldzFiles/Opensim*/bin/LocalUserStatistics.db
OutworldzFiles/Opensim*/bin/assetcache/*
OutworldzFiles/Opensim*/bin/ScriptEngines
OutworldzFiles/Opensim*/bin/j2kDecodeCache
OutworldzFiles/Opensim*/bin/maptiles

OutworldzFiles/Opensim/addins-registry/
OutworldzFiles/Init.txt
OutworldzFiles/Outworldz.log
OutworldzFiles/Opensim/bin/assetcache/*
OutworldzFiles/Opensim/bin/ScriptEngines
OutworldzFiles/Opensim/bin/j2kDecodeCache
OutworldzFiles/Opensim/bin/maptiles
OutworldzFiles/mysql/data/*.err

Installer_Src/2010/SetupDreamWorld/Setup DreamWorld/obj/*

Thumbs.db
.vs/*
*.suo
*.autosave
*.cache
*.user
*.log
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.orig
.DS_Store
*.userprefs
~*
*~
obj/*
Release/
Debug/
