*/ibdata1 filter=lfs diff=lfs merge=lfs -text
*/ib_logfile* filter=lfs diff=lfs merge=lfs -text

OutworldzFiles/mysql/data/ib_logfile0 filter=lfs diff=lfs merge=lfs -text 
OutworldzFiles/mysql/data/ib_logfile1 filter=lfs diff=lfs merge=lfs -text
OutworldzFiles/mysql/data/ibdata1 filter=lfs diff=lfs merge=lfs -text
OutworldzFiles/mysql/data/opensim/* filter=lfs diff=lfs merge=lfs -text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.gif binary
*.exe binary
*.dll binary

ibdata* binary
ib_logfile0 binary
ib_logfile1 binary
core.autocrlf true

*.MYI binary
*.MYD binary



