<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Outworldz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Outworldz.My.MySettings>
            <setting name="ConsoleShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvatarShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewerEase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridFolder" serializeAs="String">
                <value>Opensim</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublicPort" serializeAs="String">
                <value>8001</value>
            </setting>
            <setting name="PublicIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Onlook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimName" serializeAs="String">
                <value>DreamWorld</value>
            </setting>
            <setting name="CoordX" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CoordY" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="PrivatePort" serializeAs="String">
                <value>8003</value>
            </setting>
            <setting name="SizeX" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="SizeY" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="MySqlPort" serializeAs="String">
                <value>3309</value>
            </setting>
            <setting name="AutobackupInterval" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="KeepForDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="AdminFirst" serializeAs="String">
                <value>Wifi</value>
            </setting>
            <setting name="AdminLast" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>email@somewhere.com</value>
            </setting>
            <setting name="ConsoleUser" serializeAs="String">
                <value>Console</value>
            </setting>
            <setting name="ConsolePass" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="ChatTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ViewerInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="allow_grid_gods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="region_owner_is_god" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="region_manager_is_god" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="parcel_owner_is_god" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AccountConfirmationRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>Gmail for notification</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>Gmail password</value>
            </setting>
            <setting name="RanAllDiags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiagFailed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DnsName" serializeAs="String">
                <value />
            </setting>
            <setting name="WebStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HttpPort" serializeAs="String">
                <value>8002</value>
            </setting>
            <setting name="MachineID" serializeAs="String">
                <value />
            </setting>
            <setting name="LoopBackDiag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPnPDiag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>opensim</value>
            </setting>
            <setting name="DBUserID" serializeAs="String">
                <value>opensimuser</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>opensimpassword</value>
            </setting>
            <setting name="DBSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SplashPage" serializeAs="String">
                <value />
            </setting>
            <setting name="Physics" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MyX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="VivoxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Vivox_username" serializeAs="String">
                <value>someusername</value>
            </setting>
            <setting name="Vivox_password" serializeAs="String">
                <value>somepassword</value>
            </setting>
            <setting name="MapType" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>AutoBackup</value>
            </setting>
            <setting name="DiagsRun2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WelcomeRegion" serializeAs="String">
                <value>0</value>
            </setting>
        </Outworldz.My.MySettings>
    </userSettings>
</configuration>
